# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/wp-includes
/wp-content
/wp-admin
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php


# misc
.idea
.DS_Store
.env
.htaccess
docker-compose.yaml
index.php
license.txt
ngrok


npm-debug.log*
yarn-debug.log*
yarn-error.log*
